.idea/
node_modules/
/*.*
wp-admin/
wp-includes/
wp-content/index.php
wp-content/plugins
wp-content/uploads
wp-content/gallery
wp-content/languages
wp-content/ngg
wp-content/themes/index.php
!.gitignore
!package.json
!webpack.config.js
!postcss.config.js
!wp-config.php
!yarn.lock